<template lang="html">
  <div @click="mark" class="">

        <v-card
              class="mx-auto"
              max-width="400"
              style="margin: 20px 0"
              v-if="type === 'simple'"
            >
              <v-card-text>
                <div>Word of the Day</div>
                <p class="display-1 text--primary">
                  be•nev•o•lent
                </p>
                <p>adjective</p>
                <div class="text--primary">
                  well meaning and kindly.<br>
                  "a benevolent smile"
                </div>
              </v-card-text>
              <v-card-actions>
                <v-btn
                  text
                  color="deep-purple accent-4"
                >
                  Learn More
                </v-btn>
              </v-card-actions>
            </v-card>


        <v-card
                      color="#385F73"
                      dark
                      max-width="400"
                      class="mx-auto"
                      style="margin: 20px 0"
                      v-if="type === 'name'"


                    >
                      <v-card-text class="white--text">
                        <div class="headline mb-2">Unlimited music now</div>
                        Listen to your favorite artists and albums whenever and wherever, online and offline.
                      </v-card-text>

                      <v-card-actions>
                        <v-btn text>Listen Now</v-btn>
                      </v-card-actions>
                    </v-card>

        <v-card
              class="mx-auto"
              :color="card.color || '#26c6da'"
              dark
              max-width="400"
              style="margin: 20px 0"
              v-if="type === 'weather'"


            >
              <v-card-title>
                <v-icon
                  large
                  left
                >
                  mdi-twitter
                </v-icon>
                <span class="title font-weight-light">Twitter</span>
              </v-card-title>

              <v-card-text class="headline font-weight-bold">
                "{{card.text}}"
              </v-card-text>

              <v-card-actions>
                <v-list-item class="grow">
                  <v-list-item-avatar color="grey darken-3">
                    <v-img
                      class="elevation-6"
                      src="https://avataaars.io/?avatarStyle=Transparent&topType=ShortHairShortCurly&accessoriesType=Prescription02&hairColor=Black&facialHairType=Blank&clotheType=Hoodie&clotheColor=White&eyeType=Default&eyebrowType=DefaultNatural&mouthType=Default&skinColor=Light"
                    ></v-img>
                  </v-list-item-avatar>

                  <v-list-item-content>
                    <v-list-item-title>Evan You</v-list-item-title>
                  </v-list-item-content>

                  <v-row
                    align="center"
                    justify="end"
                  >
                    <v-icon class="mr-1">mdi-heart</v-icon>
                    <span class="subheading mr-2">256</span>
                    <span class="mr-1">·</span>
                    <v-icon class="mr-1">mdi-share-variant</v-icon>
                    <span class="subheading">45</span>
                  </v-row>
                </v-list-item>
              </v-card-actions>
            </v-card>





        <v-card
              max-width="400"
              class="mx-auto"
              style="margin: 20px 0"
              v-else

            >
              <v-list-item>
                <v-list-item-avatar color="grey"></v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title class="headline">Our Changing Planet</v-list-item-title>
                  <v-list-item-subtitle>by Kurt Wagner</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>

              <v-img
                src="https://cdn.vuetifyjs.com/images/cards/mountain.jpg"
                height="194"
              ></v-img>

              <v-card-text>
                Visit ten places on our planet that are undergoing the biggest changes today.
              </v-card-text>

              <v-card-actions>
                <v-btn
                  text
                  color="deep-purple accent-4"
                >
                  Read
                </v-btn>
                <v-btn
                  text
                  color="deep-purple accent-4"
                >
                  Bookmark
                </v-btn>
                <div class="flex-grow-1"></div>
                <v-btn icon>
                  <v-icon>mdi-heart</v-icon>
                </v-btn>
                <v-btn icon>
                  <v-icon>mdi-share-variant</v-icon>
                </v-btn>
              </v-card-actions>
            </v-card>
  </div>
</template>

<script>
// type simple time name weather
export default {
  computed: {
    type() {
      return this.card.type;
    }
  },
  props: {
    card: {
      type: Object
    }
  },
  methods: {
    mark() {
      this.$store.commit("lenta/read", this.card.id);
    }
  }
};
</script>

<style lang="css">
</style>
