<template>
  <div class="responsive-html5-chat">
    <form class="chat" v-on:submit.prevent="submit">
      <span></span>
      <div class="messages">
        <div
          class="message"
          v-for="(message,messageIndex) in messages"
          v-bind:key="'m'+messageIndex"
        >
          <div :class="message.isMy?'myMessage':'fromThem'">
            <p>{{message.text}}</p>
            <span class="date">{{message.date}}</span>
          </div>
        </div>
      </div>
      <div class="replies">
        <span
          class="reply"
          v-for="(reply,replyIndex) in messages&&messages.length!=0?messages.slice(-1)[0].replies||[]:[]"
          v-bind:key="'r'+replyIndex"
          @click="submit(reply)"
        >{{reply}}</span>
      </div>
      <input type="text" ref="inputText" placeholder="Your message" />
      <input type="submit" value="Send" />
    </form>
  </div>
</template>

<script>
import { mapState, mapMutations } from "vuex";
export default {
  data() {
    return {};
  },
  computed: {
    ...mapState({ messages: state => state.chat.messages })
  },
  methods: {
    ...mapMutations({ addMessage: "chat/addMessage" }),
    async submit(reply) {
      let text;
      if (typeof reply == "string") text = reply;
      else text = this.$refs.inputText.value;
      if (!text || text.length == 0) return;
      this.addMessage({
        isMy: true,
        date: new Date(),
        text: text
      });
      try {
        const resp = await this.$api.chatBot(text);
        this.addMessage({
          isMy: false,
          date: new Date(),
          text: resp.reply,
          replies: resp.replies
        });
      } catch (e) {}
      if (typeof reply != "string") this.$refs.inputText.value = "";
      return false;
    }
  }
};
</script>

<style scoped>
.responsive-html5-chat {
  position: relative;
  min-height: 90vh;
}
form.chat * {
  transition: all 0.5s;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

form.chat {
  margin: 0;
  cursor: default;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  user-select: none;
}

form.chat span.spinner {
  -moz-animation: loading-bar 1s 1;
  -webkit-animation: loading-bar 1s 1;
  animation: loading-bar 1s 1;
  display: block;
  height: 2px;
  background-color: #ccc;
  transition: width 0.2s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
}

form.chat .messages {
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  height: 85%;
  width: 100%;
  padding: 2% 3%;
  border-bottom: 1px solid #ecf0f1;
}

form.chat ::-webkit-scrollbar {
  width: 3px;
  height: 1px;
  transition: all 0.5s;
  z-index: 10;
}
form.chat ::-webkit-scrollbar-track {
  background-color: white;
}
form.chat ::-webkit-scrollbar-thumb {
  background-color: #bec4c8;
  border-radius: 3px;
}

form.chat .message {
  display: block;
  padding: 0.5%;
}

form.chat .message p {
  margin: 0;
}

form.chat .myMessage,
form.chat .fromThem {
  max-width: 50%;
  word-wrap: break-word;
  margin-bottom: 20px;
}

form.chat .message:hover .myMessage {
  -webkit-transform: translateX(-130px);
  transform: translateX(-130px);
}

form.chat .message:hover .fromThem {
  -webkit-transform: translateX(130px);
  transform: translateX(130px);
}

form.chat .message:hover .date {
  opacity: 1;
}

form.chat .myMessage,
.fromThem {
  position: relative;
  padding: 10px 20px;
  color: white;
  clear: both;
  font: 400 15px "Open Sans", sans-serif;
}

form.chat .myMessage {
  background: #555;
  color: white;
  float: right;
  clear: both;
  border-bottom-right-radius: 20px 0px\9;
}

form.chat .myMessage:before {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: -2px;
  right: -8px;
  height: 19px;
  border-right: 20px solid #555;
  border-bottom-left-radius: 16px 14px;
  -webkit-transform: translate(0, -2px);
  transform: translate(0, -2px);
  border-bottom-left-radius: 15px 0px\9;
  transform: translate(-1px, -2px) \9;
}

form.chat .myMessage:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: -2px;
  right: -42px;
  width: 12px;
  height: 20px;
  background: white;
  border-bottom-left-radius: 10px;
  -webkit-transform: translate(-30px, -2px);
  transform: translate(-30px, -2px);
}

form.chat .fromThem {
  background: #e5e5ea;
  color: black;
  float: left;
  clear: both;
  border-bottom-left-radius: 30px 0px\9;
}
form.chat .fromThem:before {
  content: "";
  position: absolute;
  z-index: 2;
  bottom: -2px;
  left: -7px;
  height: 19px;
  border-left: 20px solid #e5e5ea;
  border-bottom-right-radius: 16px 14px;
  -webkit-transform: translate(0, -2px);
  transform: translate(0, -2px);
  border-bottom-right-radius: 15px 0px\9;
  transform: translate(-1px, -2px) \9;
}

form.chat .fromThem:after {
  content: "";
  position: absolute;
  z-index: 3;
  bottom: -2px;
  left: 4px;
  width: 26px;
  height: 20px;
  background: white;
  border-bottom-right-radius: 10px;
  -webkit-transform: translate(-30px, -2px);
  transform: translate(-30px, -2px);
}

form.chat .date {
  position: absolute;
  top: 10px;
  font-size: 14px;
  white-space: nowrap;
  vertical-align: middle;
  color: #8b8b90;
  opacity: 0;
  z-index: 4;
}

form.chat .myMessage .date {
  right: 0 !important;
  left: unset;
}

form.chat .fromThem .date {
  left: 0 !important;
  right: unset;
}

form.chat input {
  font: 400 13px "Open Sans", sans-serif;
  border: 0;
  padding: 0 15px;
  height: 10%;
  outline: 0;
}

form.chat input[type="text"] {
  width: 73%;
  float: left;
}

form.chat input[type="submit"] {
  width: 23%;
  background: transparent;
  text-align: right;
  float: right;
}

form.chat .myMessage,
form.chat .fromThem {
  font-size: 12px;
}

form.chat .message:hover .myMessage {
  transform: translateY(18px);
  -webkit-transform: translateY(18px);
}

form.chat .message:hover .fromThem {
  transform: translateY(18px);
  -webkit-transform: translateY(18px);
}

form.chat .myMessage .date,
form.chat .fromThem .date {
  top: -20px;
  left: auto;
  right: 0;
  font-size: 12px;
}

form.chat .myMessage,
form.chat .fromThem {
  max-width: 90%;
}

form.chat .replies {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
form.chat .reply {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 10px;
  margin: 0 10px;
  border-radius: 3px;
  background: lightblue;
}

@-moz-keyframes loading-bar {
  0% {
    width: 0%;
  }
  90% {
    width: 90%;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes loading-bar {
  0% {
    width: 0%;
  }
  90% {
    width: 90%;
  }
  100% {
    width: 100%;
  }
}

@keyframes loading-bar {
  0% {
    width: 0%;
  }
  90% {
    width: 90%;
  }
  100% {
    width: 100%;
  }
}
</style>
