<template lang="html">
  <div class="lenta">
    <card v-for="(card, k) in JSON.parse(JSON.stringify(cards)).reverse()" :key="k" :card="card" />
  </div>
</template>

<script>
import card from "./card";

import { mapState, mapMutations } from "vuex";
export default {
  props: ["k"],
  components: {
    card
  },
  async mounted() {
    const pushes = await this.$api.pushMy();
    console.log(pushes);
    this.setPushes([this.k || "mentor", pushes.reverse()]);
  },
  methods: {
    ...mapMutations({ setPushes: "lenta/setLenta" })
  },
  computed: {
    cards() {
      // const names = [
      //   'name',
      //   'simple',
      //   'weather',
      // ]
      // return new Array(100).fill(0).map( item => names[~~(Math.random() * names.length)] )
      return this.$store.state.lenta[this.k || "mentor"];
    }
  }
};
</script>

<style lang="stylus">
.lenta {
  height: calc(100vh - 70px);
  overflow-y: scroll;
}
</style>
