<template lang="html">
  <div class="line">
    <svg height="120">
      <line x1="0" y1="60" x2="100%" y2="60" stroke="black" stroke-width="2" />
    </svg>
    <div class="icons">
      <div @click="$store.commit('overflow/set', i)" v-for="({ data, name, icon, read },i) in lenta" :key="i" class="frame">
        <span style="font-size: 8px;white-space:nowrap">{{ $moment( data ).fromNow() }}</span>
        <div v-if="read" class="icon read">
          <v-icon>{{icon}}</v-icon>
        </div>
        <div v-else class="icon notread">
          <v-icon>{{icon}}</v-icon>
        </div>
        <br/>
        <span>{{name}}</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: [
    'lenta'
  ]
}
</script>

<style lang="stylus" scoped>
.line
  height inherit
  width 100%
  position relative
  .read
    background #eee
  .notread
    background red
  svg
    position absolute
    width inherit
  .icons
    width 100%
    height 120px
    overflow-y hidden
    overflow-x scroll
    display flex
    &::-webkit-scrollbar
      width: 0 !important
    .frame
      height 120px
      width 80px
      text-align center
      padding-top 12px
      margin-left 40px
    .icon
      width 40px
      height 40px
      border-radius 50%
      display flex
      align-items center
      justify-content center
      position relative
      margin-left 20px
</style>
