<template lang="html">
  <div class="user">
            <div style="display: flex">
              <v-avatar size="36px">
                      <img
                          alt="Avatar"
                          :src="mentor.avatar">
              </v-avatar>
                      <div
                          v-model="show"
                          color="purple"
                          class="bage"
                          v-if="mentor.q">
                            <span>{{mentor.q}}</span>
                        </div>
            </div>

                <p>{{mentor.name}}</p>
      <Ln :lenta="lenta" />
  </div>
</template>

<script>
import Ln from "./line.vue";

export default {
  props: ["mentor"],
  computed: {
    lenta() {
      return (this.mentor && this.mentor.lenta) || [];
    }
  },
  components: {
    Ln
  }
};
</script>

<style lang="stylus" scoped>
.user {
  width: 90%;
  display: flex;
  padding: 12px 0px;
  height: 120px;
  border-bottom: 2px solid #eee;

  .bage {
    background: red;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: white;
    border-radius: 50%;
  }

  &:last-child {
    flex: 2;
  }

  &:first-child {
    p {
      text-align: center;
    }
  }
}
</style>
