<template lang="html">
  <div class="profile">
    <div class="head">
      <div />
      <v-icon @click="hackaton" style="cursor: pointer">
        close
      </v-icon>
    </div>
    <v-card
     class="mx-auto"
     max-width="434"
     tile
   >
     <v-img
       height="100%"
       src="https://cdn.vuetifyjs.com/images/cards/server-room.jpg"
     >
       <v-row
         align="end"
         class="fill-height"
       >
         <v-col
           align-self="start"
           class="pa-0"
           cols="12"
         >
           <v-avatar
             class="profile"
             color="grey"
             size="164"
             tile
           >
             <v-img src="https://cdn.vuetifyjs.com/images/profiles/marcus.jpg"></v-img>
           </v-avatar>
         </v-col>
         <v-col class="py-0">
           <v-list-item
             color="rgba(0, 0, 0, .4)"
             dark
           >
             <v-list-item-content>
               <v-list-item-title class="title">Marcus Obrien</v-list-item-title>
               <v-list-item-subtitle>Network Engineer</v-list-item-subtitle>
             </v-list-item-content>
           </v-list-item>
         </v-col>
       </v-row>
     </v-img>
   </v-card>
  </div>
</template>

<script>
export default {
  props: ['hackaton']
}
</script>

<style lang="stylus" scoped>
.profile
  width 50%
  height 100vh
  border-right 2px solid #eee
  .head
    display flex
    justify-content space-between
    padding 12px 24px
</style>
