<template lang="html">
  <div class="multiselect">
    <v-combobox
        v-model="model"
        :items="items"
        :search-input.sync="search"
        hide-selected
        hint="Maximum of 5 tags"
        label="Add some tags"
        multiple
        persistent-hint
        small-chips
      >
        <template v-slot:no-data>
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title>
                No results matching "<strong>{{ search }}</strong>". Press <kbd>enter</kbd> to create a new one
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>
      </v-combobox>
      <v-btn @click="$router.push('/message')" class="ma-2" tile color="indigo" dark>Сообщение</v-btn>
  </div>
</template>

<script>
export default {
  data: () => ({
    model: [],
    search: null,
  }),

  computed: {
    items(){
      const ar = []
      this.$store.state.users.mentors.forEach(({tags}) => {
        tags.forEach( item => !ar.includes(item) ? ar.push(item) : null )
      })
      return ar
    }
  },

  watch: {
    model (val) {
      // if (val.length > 5) {
      //   this.$nextTick(() => this.model.pop())
      // }
      this.$store.commit('search/set', val)
    },
  },
  mounted(){
    this.model = this.$store.state.search.value
  }
}
</script>

<style lang="css">
.multiselect{
  z-index: 1000;
}
</style>
