<template lang="html">
  <div class="userman">
    <p>{{user.username}}</p>
    <img :src="user.avatar" />
  </div>
</template>

<script>
export default {
  computed: {
    user(){
      return this.$store.state.user
    }
  }
}
</script>

<style lang="stylus">
.userman
  min-width 180px
  height 60px
  background white
  border-radius 30px
  box-shadow 0 0 15px rgba(0,0,0,.1)
  position fixed
  top 12px
  right 20px
  z-index 10001
  display flex
  align-items center
  img
    height 30px
    border-radius 50%
  p
    margin 0
    padding 0 12px
@media (orientation: portrait)
  .userman
    position static
    width 100%
    border-radius 0
    justify-content flex-end
    img
      margin-right 12px
</style>
