<template>
  <div>
    <div class="text-center">
      <v-btn @click="auth" style="color: white" color="indigo">AUTH VIA VK</v-btn>
    </div>
  </div>
</template>

<script>
const queryString = obj =>
  Object.keys(obj)
    .map(_ => _ + "=" + obj[_])
    .join("&");
export default {
  methods: {
    auth() {
      document.location.href =
        "https://oauth.vk.com/authorize?" +
        queryString({
          client_id: 7151399,
          redirect_uri: "https://demo3.alpha.vkhackathon.com/auth/verify",
          display: "page",
          scope: "offline,email",
          response_type: "token",
        });
    }
  }
};
</script>

<style>
</style>
