<template>
  <pre></pre>
</template>

<script>
import { mapState, mapMutations } from "vuex";
export default {
  data() {
    return {
      tokenData: {}
    };
  },
  async mounted() {
    this.tokenData = document.location.hash
      .substring(1)
      .split("&")
      .map(_ => _.split("="));
    const token = this.tokenData.filter(_ => _[0] == "access_token")[0][1];
    const email = this.tokenData.filter(_ => _[0] == "email")[0][1];
    try {
      let user = await this.$api.vkProxy(
        "GET",
        `https://api.vk.com/method/users.get?fields=photo&access_token=${token}&v=5.101`
      );
      user = user.response[0];
      user.email = email;
      this.setUser({
        ...user,
        username: user.first_name + " " + user.last_name,
        avatar: user.photo
      });
      localStorage.setItem(
        "user",
        JSON.stringify({
          ...user,
          username: user.first_name + " " + user.last_name,
          avatar: user.photo
        })
      );

      const tokens = {
        "1": "353db9433cbf6ff710ce7b5eafb1f45c",
        "2": "36472ad24d66cf32e4809a8a663c661a",
        "3": "8a9e59130079df6d230c0cd164f19d01",
        "4": "68ad0bee87e102c0c96fa68d28e1dbca",
        "5": "3a37b2d986d39bfd4a8e38117386b344",
        "6": "dcbbb74dc1f4e3a6020f66465a958a0c"
      };
      switch (user.id) {
        case 3991539:
          this.$axios.setToken(tokens[5]);
          this.$router.push("/mentor");
          break;
        case 210149434:
          this.$axios.setToken(tokens[2]);
          this.$router.push("/ps");
          break;
        default:
          this.$axios.setToken(tokens[6]);
          this.$router.push("/mentor");
          break;
      }
    } catch (e) {}
  },
  methods: {
    ...mapMutations(["setUser"])
  }
};
</script>

<style>
</style>