<template>
  <v-app light>
    <user />
    <v-content>
      <v-container>
        <nuxt />
      </v-container>
      <v-overlay v-if="card" zIndex="10002">
        <v-icon style="float: right" @click="$store.commit('overflow/clear')">close</v-icon>
        <card :card="card" />
      </v-overlay>
    </v-content>
  </v-app>
</template>

<script>
import user from "~/components/user";
import card from "~/components/card";

import { mapState, mapMutations } from "vuex";
export default {
  computed: {
    card() {
      const index = this.$store.state.overflow.index;
      return index > -1 ? this.$store.state.lenta.mentor[index] : null;
    }
  },
  components: {
    user,
    card
  },
  data() {
    return {
      messaging: null
    };
  },
  created() {
    const tokens = {
      "1": "353db9433cbf6ff710ce7b5eafb1f45c",
      "2": "36472ad24d66cf32e4809a8a663c661a",
      "3": "8a9e59130079df6d230c0cd164f19d01",
      "4": "68ad0bee87e102c0c96fa68d28e1dbca",
      "5": "3a37b2d986d39bfd4a8e38117386b344",
      "6": "dcbbb74dc1f4e3a6020f66465a958a0c"
    };

    let user = localStorage.getItem("user")

    if (user) {
      user = JSON.parse(user);
      this.setUser(user);

      switch (user.id) {
        case 3991539:
          this.$axios.setToken(tokens[5]);
          break;
        case 210149434:
          this.$axios.setToken(tokens[2]);
          break;
        default:
          this.$axios.setToken(tokens[6]);
          break;
      }
    } else {
      user = {
        "id":210149434,
        "first_name":"Арсений",
        "last_name":"Попов",
        "is_closed":false,
        "can_access_closed":true,
        "photo":"https://sun9-10.userapi.com/c849324/v849324856/66a0e/va0_PRmCSPU.jpg?ava=1",
        "email":"zombiehot@yandex.ru",
        "username":"Арсений Попов",
        "avatar":"https://sun9-10.userapi.com/c849324/v849324856/66a0e/va0_PRmCSPU.jpg?ava=1"
      }
      this.setUser(user)
      switch (user.id) {
        case 3991539:
          this.$axios.setToken(tokens[5]);
          break;
        case 210149434:
          this.$axios.setToken(tokens[2]);
          break;
        default:
          this.$axios.setToken(tokens[6]);
          break;
      }
    }
  },
  mounted() {
    if (!window.FBINITED) {
      var firebaseConfig = {
        apiKey: "AIzaSyDeqDMu8xvav8ytCMikajsOPfP13m-ePbw",
        authDomain: "vkhackmentors-hoevcn.firebaseapp.com",
        databaseURL: "https://vkhackmentors-hoevcn.firebaseio.com",
        projectId: "vkhackmentors-hoevcn",
        storageBucket: "",
        messagingSenderId: "503141818734",
        appId: "1:503141818734:web:3f2ed617e1f45904a3e17f",
        measurementId: "G-R498TKD7CK"
      };
      firebase.initializeApp(firebaseConfig);
      firebase.analytics();
      window.FBINITED = true;
      if ("Notification" in window) {
        this.messaging = firebase.messaging();
        this.subscribe();
        this.messaging.onMessage(payload => {
          this.$store.commit("lenta/addmentor", {
            data: Date.now(),
            name: payload.notification.title,
            icon: "eco",
            read: false,
            type: "weather",
            color: "brown",
            text: payload.notification.body
          });
          // ...
        });
      }
    }
  },
  methods: {
    ...mapMutations(["setUser"]),
    async subscribe() {
      try {
        await this.messaging.requestPermission();
      } catch (e) {
        return;
      }
      try {
        const token = await this.messaging.getToken();
        if (token) {
          this.sendTokenToServer(token);
        } else {
          console.warn("Не удалось получить токен.");
          this.setTokenSentToServer(false);
        }
      } catch (e) {
        console.warn("При получении токена произошла ошибка.", e);
        this.setTokenSentToServer(false);
      }
    },
    sendTokenToServer(currentToken) {
      if (!this.isTokenSentToServer(currentToken)) {
        try {
          this.$api.setFcm(currentToken);
        } catch (e) {}
        this.setTokenSentToServer(currentToken);
      }
    },

    isTokenSentToServer(currentToken) {
      return (
        window.localStorage.getItem("sentFirebaseMessagingToken") ==
        currentToken
      );
    },

    setTokenSentToServer(currentToken) {
      window.localStorage.setItem(
        "sentFirebaseMessagingToken",
        currentToken ? currentToken : ""
      );
    }
  }
};
</script>
