<template lang="html">
  <v-app light>
    <nuxt />
  </v-app>
</template>

<script>
import { mapState, mapMutations } from "vuex";
export default {
  mounted() {
    let user = localStorage.getItem("user");
    if (user) {
      user = JSON.parse(user);
      this.setUser(user);
      const tokens = {
        "1": "353db9433cbf6ff710ce7b5eafb1f45c",
        "2": "36472ad24d66cf32e4809a8a663c661a",
        "3": "8a9e59130079df6d230c0cd164f19d01",
        "4": "68ad0bee87e102c0c96fa68d28e1dbca",
        "5": "3a37b2d986d39bfd4a8e38117386b344",
        "6": "dcbbb74dc1f4e3a6020f66465a958a0c"
      };
      switch (user.id) {
        case 3991539:
          this.$axios.setToken(tokens[5]);
          break;
        case 210149434:
          this.$axios.setToken(tokens[2]);
          break;
        default:
          this.$axios.setToken(tokens[6]);
          break;
      }
    }
  },
  methods: {
    ...mapMutations(["setUser"])
  }
};
</script>

<style lang="css">
</style>
