<template lang="html">
  <div class="admin">
    <div v-if="!current">
      <div class="head">
        <h2>Психологи</h2>
        <search />
      </div>

      <div class="users">
        <mentor v-for="(_,i ) in new Array(10).fill(0)" :mentor="{}" :key="i" />
      </div>
    </div>
    <profile :hackaton="close" v-else />
    <div>
      <h2>Новости</h2>
      <lenta />
    </div>
  </div>
</template>

<script>
import search from '~/components/search.vue'
import lenta from '~/components/lenta.vue'
import mentor from '~/components/mentor.vue'
import profile from '~/components/profile.vue'

export default {
  components: {
    search, lenta , mentor, profile
  },
  data: () => ({
    current: null
  }),
  methods: {
    close(){
      this.current = null
    }
  }
}
</script>

<style lang="stylus">
.admin
  display flex
  height calc( 100vh - 24px)
  overflow-y hidden
  .users
    height calc( 100vh - 140px )
    overflow-y scroll
  h2
    font-size 2em
    height 58px
    margin 0
  & > div
    width 50%
    height 100vh
</style>
