<template lang="html">
  <div class="">
    <v-app-bar
      dense
      dark
    >
      <v-btn @click="$router.push('/mentor')" icon>
        <v-icon>keyboard_backspace</v-icon>
      </v-btn>

      <v-toolbar-title>FAQ чат</v-toolbar-title>

      <div class="flex-grow-1"></div>

      <v-btn icon>
        <v-icon>mdi-heart</v-icon>
      </v-btn>
    </v-app-bar>
    <Chat/>
  </div>
</template>

<script>
import Chat from "~/components/chat";
export default {
  components: {
    Chat
  },
  layout: "empty"
};
</script>

<style lang="css">
</style>
