<template>
  <div class="layout">
    <vkAuth />
  </div>
</template>

<script>
import { mapState, mapMutations } from "vuex";
import vkAuth from "~/components/vk-auth";
export default {
  layout: 'empty',
  components: {
    vkAuth
  },
  computed: {
    ...mapState({
      //
    })
  },
  data() {
    return {
      //
    };
  }
};
</script>

<style media="screen">
.layout{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
</style>
