<template lang="html">
  <div class="">
    <lenta k="mentor" />
    <v-btn @click="go" class="mx-2 bth" fab dark large>
      <v-icon dark>mdi-pencil</v-icon>
    </v-btn>
  </div>
</template>

<script>
import lenta from '~/components/lenta'

export default {
  components: {
    lenta
  },
  methods : {
    go(){
      this.$router.push({
        path: '/chat'
      })
    }
  }
}
</script>

<style lang="stylus">
.bth
  position fixed
  bottom 20px
  right 20px

</style>
