<template lang="html">
  <div class="message">
    <v-combobox
        v-model="model"
        :items="items"
        :search-input.sync="search"
        hide-selected
        hint="Maximum of 5 tags"
        label="Кому"
        multiple
        persistent-hint
        small-chips
      >
        <template v-slot:no-data>
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title>
                No results matching "<strong>{{ search }}</strong>". Press <kbd>enter</kbd> to create a new one
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>
      </v-combobox>
      <p>Отправка {{ mentors.length }} человек</p>
      <v-icon @click="seecolor=!seecolor">
        opacity
      </v-icon>
      <v-text-field v-model="title" label="Заголовок" />
      <v-color-picker v-if="seecolor" v-model="color" show-swatches="true" hide-inputs class="ma-2" hide-canvas></v-color-picker>
    <v-textarea
        :background-color="color"
        label="ваше сообщение"
        v-model="text"
      ></v-textarea>
      <v-btn @click="send">
        отправить
      </v-btn>
  </div>
</template>

<script>
export default {
  data: () => ({
    model: [],
    search: null,
    seecolor: false,
    color: "white",
    text: "",
    title: ""
  }),

  computed: {
    items() {
      const ar = [];
      this.$store.state.users.mentors.forEach(({ tags }) => {
        tags.forEach(item => (!ar.includes(item) ? ar.push(item) : null));
      });
      return ar;
    },
    mentors() {
      const { value } = this.$store.state.search;

      return this.$store.state.users.mentors.filter(({ tags }) =>
        value && value.length
          ? value.reduce((acc, cur) => tags.includes(cur) || acc, false)
          : true
      );
    }
  },

  methods: {
    send() {
      const { color, title, text } = this;
      this.$api.pushSend({
        title: title,
        content: text,
        type: "notification",
        receivers: "g1g2g3g4g5",
        color: color
      });
      this.$router.push("/ps");
    }
  },

  watch: {
    model(val) {
      // if (val.length > 5) {
      //   this.$nextTick(() => this.model.pop())
      // }
      this.$store.commit("search/set", val);
    }
  },

  mounted() {
    this.model = this.$store.state.search.value;
  }
};
</script>

<style lang="stylus">
.message {
  width: 90%;
  margin: auto;
  max-width: 640px;
  margin-top: 70px;
}
</style>
