<template lang="html">
  <div class="admin">
    <div v-if="!current">
      <div style="z-index: 100040" class="head">
        <h2>Наставники</h2>
        <search />
        <p>По вашему запросу найдено {{ mentors.length }} человек</p>
      </div>

      <div class="users">
        <mentor v-for="( mentor ,i ) in mentors" :mentor="mentor" :key="i"  />
      </div>
    </div>
    <profile :hackaton="close" v-else />
    <div>
      <h2>Новости</h2>
      <lenta k="ps" />
    </div>
  </div>
</template>

<script>
import search from "~/components/search.vue";
import lenta from "~/components/lenta.vue";
import profile from "~/components/profile.vue";
import mentor from "~/components/mentor.vue";

export default {
  components: {
    search,
    lenta,
    profile,
    mentor
  },
  computed: {
    mentors() {
      const { value } = this.$store.state.search;

      console.log(
        this.$store.state.lenta.mentor
      );

      return this.$store.state.users.mentors
        .map((item, i) =>
          i === 0
            ? {
                ...item,
                lenta: this.$store.state.lenta.ps,
                q: this.$store.state.lenta.ps.filter(({ read }) => !read)
                  .length
              }
            : {
                ...item,
                q: item.lenta.filter(({ read }) => !read).length
              }
        )
        .filter(({ tags }) =>
          value && value.length
            ? value.reduce((acc, cur) => tags.includes(cur) || acc, false)
            : true
        );
    }
  },
  data: () => ({
    current: null
  }),
  methods: {
    close() {
      this.current = null;
    }
  }
};
</script>

<style lang="stylus">
.admin {
  display: flex;
  height: calc(100vh - 24px);
  overflow-y: hidden;

  .users {
    height: calc(100vh - 140px);
    overflow-y: scroll;
  }

  h2 {
    font-size: 2em;
    height: 58px;
    margin: 0;
  }

  & > div {
    width: 50%;
    height: 100vh;
  }
}
</style>
